<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thrall.mapper.LoginMapper">

    <select id="login" parameterType="com.thrall.domain.User" resultType="com.thrall.domain.User">
        SELECT id,username,password,role,permission FROM user WHERE username = #{username} and password = #{password}
    </select>

    <insert id="register" parameterType="com.thrall.domain.User">
        INSERT INTO user(username,password,role,permission) VALUES(#{username},#{password},#{role},#{permission})
    </insert>
</mapper>